@media only screen and (max-width: 768px) {
  .description,
  .image-wrapper {
    padding: 4vh 8vw;
  }

  .description h1 {
    font-size: 2rem;
  }

  .description p {
    width: 90%;
  }

  footer {
    height: 40px;
  }

  .social-media-icons img {
    height: 10px;
    margin-right: 1vh;
    cursor: pointer;
  }

  .page-arrows {
    display: flex;
  }

  footer section {
    width: 120px;
  }

  .page-arrows button {
    font-size: 0.8rem;
    height: 40px;
    width: 40px;
  }

  .info h3 {
    font-size: 0.8rem;
  }

  .info p {
    font-size: 0.8rem;
  }

  .pages {
    font-size: 0.8rem;
  }
  .curent-page {
    font-size: 1.2rem;
  }
}
