@font-face {
  font-family: "ChelseaMarket";
  src: url("../fonts/ChelseaMarket-Regular.ttf");
}

@font-face {
  font-family: "Fredoka";
  src: url("../fonts/Fredoka-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

body {
  align-items: center;
}

h1 {
  font-family: "PressStart2P", sans-serif;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: greenyellow;
  text-align: center;
  width: 50%;
  display: inline-block;
  line-height: 4rem;
}

p {
  font-family: "Pacifico", sans-serif;
  font-size: 1.35rem;
  width: 50%;
}

em {
  font-family: "ChelseaMarket", sans-serif;
  font-weight: bold;
  text-shadow: 2px 0px 1px rgb(105, 0, 0);
}

strong {
  font-family: "PressStart2P", sans-serif;
  font-size: 0.5rem;
}

a {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
